@model List<Empleado.Models.DatosSalariales>

<h2>Datos Salariales</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>CedulaEmpleado</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var datosSalariales in Model)
        {
            <tr>
                <td>@datosSalariales.ID</td>
                <td>@datosSalariales.CedulaEmpleado</td>

            </tr>
        }
    </tbody>

    @{
        ViewBag.Title = "Crear Empleado";
    }
    <h2>Crear Empleado</h2>

</table>



